.card {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  padding: 20px;
}
.card .card-header {
  font-weight: 500;
  justify-content: space-between;
}

.card .card-header span {
  cursor: pointer;
  padding-right: 21px;
  align-items: baseline;
}

.card .card-body .col span {
  padding-left: 90px;
  cursor: pointer;
}

.card .card-body .row {
  padding: 5px 0px;
}

.col a {
  color: black;
}
.col a:hover {
  color: black;
  text-decoration: none;
}

.row .col a {
  padding: 8px;
}

.totalQuantity,
.grand-total,
.subtotal {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.payment,
.shipping {
  padding: 8px 0px 8px;
  display: grid;
  /* border-bottom: 1px solid #ddd; */
}

.payment {
  border-bottom: 1px solid #ddd;
}

.modal-footer {
  margin-right: 55px;
}

.shipping select {
  padding: 10px 16px;
  border: none;
  margin-left: -2px;
  background-color: #ddd;
  border-radius: 10px;
}

.border {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.address {
  margin: 0px 15px;
}
.border .text {
  display: inline-flex;
  /* justify-content: space-between; */
  align-items: center;
}

.desc {
  padding-left: 23px;
  color: #6d6d6d;
  font-size: 15px;
  padding-top: 5px;
}

.card-body,
.totalQuantity,
.payment label,
.shipping label {
  color: var(--primary-color);
  padding-bottom: 12px;
}

.delivery .mb-2 {
  color: #5c778f;
  font-size: 15px;
  line-height: 30px;
}

.deli {
  border: none;
  background-color: var(--primary-color);
  padding-left: 10px;
  font-size: 14px;
  margin: 4px 0 8px;
}

.grand-total {
  padding: 15px 0px;
  color: black;
}

.checkout {
  width: 100%;
  height: 42px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  color: white;
}

.back {
  display: flex;
  cursor: pointer;
}

.payment label,
.address label {
  color: var(--primary-color);
  padding-bottom: 12px;
}

.city-address {
  padding: 8px 0px 8px;
  display: grid;
}

.city-address select {
  padding: 10px 16px;
  border: 1px solid #ddd;
  margin-left: -2px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.country {
  padding: 10px 0px 25px;
  display: grid;
  border-bottom: 1px solid #ddd;
}

.country select {
  padding: 10px 16px;
  border: none;
  margin-left: -2px;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: #4e4e4e;
}

.col-md-6 .border {
  margin: 0px;
}

.col-xl-8 .checkout {
  padding: 50px;
}

.col-md-6 .postalcode input,
.col-md-8 input,
.col-md-12 input {
  background-color: #f0f0f0;
  height: 42px;
  border-radius: 10px;
}

.city-address .d-flex .col-md-6 {
  margin-right: 30px;
}

.city select,
.district select,
.communes select,
.postalcode input {
  width: 300px;
}

.address p {
  padding: 10px 0px 7px;
}

.d-flex .col-md-12 .border input {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  margin: 3px;
}

.border img {
  width: 60px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.border .detail {
  width: 90%;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  margin: 6px 20px;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="checkbox"] {
  margin-left: 10px;
}


.backtoshop {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  width: 100%;
  height: 42px;
  border-radius: 10px;
  color: var(--primary-color);
}

.goback {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  width: 100%;
  height: 42px;
  border-radius: 10px;
  color: var(--primary-color);
}

.backtoshop:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.goback:hover {
  background-color: var(--primary-color);
  color: #fff;
}