h1 {
  color: rgb(36, 36, 83);
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  border: 0;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}

h1 {
  font-weight: 800;
}

button:hover {
  opacity: 1;
}

.button_login,
.gg_login {
  float: left;
  width: 100%;
  border-radius: 15px;
  border: 0;
  background-color: var(--primary-color);
  color: #f1f1f1;
  padding: 14px 20px;
  margin: 20px 0;
}

.gg_login{
  background-color: #e6ad55 !important;
  padding: 8px;
  margin: 10px 0;
}
