.banner1,
.banner2 {
  background-size: cover;
  height: 300px;
  width: 100%;
  margin-bottom: 30px;
}

.banner1 {
  background-image: url("../assets/images/banner1.png");
}

.banner2{
  background-image: url("../assets/images/banner2.png");
}

.shop_title {
  font-weight: bold;
  color: var(--primary-color);
}

.filter select {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #36969b;
  color: white;
}

.filter select option {
  font-style: 0.9rem;
}

.search_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid (var(--primary-color));
  border-radius: 10px;
  padding-right: 12px;
  padding-left: 5px;
}

/* .search_box input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 15px;
  height: 10px;
} */

.search-prd {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 15px 10px 15px;
  height: 10px;
}

.search_box span {
  cursor: pointer;
}

.filter-box {
  width: 100%;
  align-items: baseline;
  padding: 25px;
}

.search_box {
  background: #dee7eb;
  padding-right: 50px;
}

.pagination {
  margin: 45px 10px;
}

.pagination span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.pagination button {
  border-radius: 50%;
  background-color: #ededed;
  border: none;
  width: 40px;
  height: 40px;
}

.pagination .page {
  background-color: #36969b;
  color: #fff;
}
