.img {
  background-image: url("../assets/images/banner.png");
  background-size: cover;
  height: 300px;
  width: 100%;
  margin-bottom: 30px;
}

.shop_title {
  font-weight: bold;
  color: var(--primary-color);
}

.filter select {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #dde3e6;
  color: black;
}

.filter select option {
  font-style: 0.9rem;
}

.search_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid (var(--primary-color));
  border-radius: 10px;
  padding-right: 12px;
  padding-left: 5px;
}

.search_box input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 15px;
  height: 10px;
}

.search_box span {
  cursor: pointer;
}

.filter-box {
  width: 100%;
  align-items: baseline;
  padding: 25px;
  justify-content: center;
}

.search_box {
  padding-bottom: 10px;
}
