.section_title {
  color: var(--primary-color);
  font-weight: 600;
}
.product_img {
  height: 250px;
}

.product_item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-info {
  flex-basis: 26%;
}
.product-info h3 a {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 15px;
}

.product-info a:hover {
  color: inherit;
}

.product-info span {
  font-style: 0.9rem;
}

.product_card-bottom .price {
  color: var(--primary-color);
  font-style: 1.3rem;
  font-weight: 600;
}

.product_card-bottom span i {
  font-style: 1.2rem;
  padding: 5px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50px;
}
