.sidebav_container {
  background-color: var(--primary-color);
  width: 240px;
  height: 100vh;
  /* position: fixed; */
  color: #fff;
  /* transition: 0.4s; */
}

.nav_heading,
.nav_menu,
.nav_footer {
  display: grid;
}

.nav_heading {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  height: 75px;
}

.nav_brand {
  display: flex;
}
.nav_brand img {
  width: 110px;
  height: 60px;
  padding: 0 10px;
  margin-top: 10px;
}

.nav_brand h2 {
  margin-top: 33px;
  color: #fff;
  font-size: 22px;
}

.nav-menu {
  grid-template-rows: repeat(7, 1fr);
  margin-top: 22px;
  /* padding-bottom: 40px; */
  font-size: 17px;
}

.sidebar_link li {
  list-style: none;
}

.sidebar_link {
  padding-left: 0px !important;
}
.sidebar_link span,
.sidebar_link li a {
  display: block;
  width: 100%;
  padding: 20px 35px;
}

.dropdown-item {
  background-color: none;
}

.sidebar_link span:hover,
.dropdown-item:hover,
.sidebar_link .link:hover a {
  background-color: #cccccc98;
  color: inherit;
}

.sidebar_link li a.active {
  background-color: #cccccc98;
}

.nav-footer {
  width: 200px;
  height: 87px;
  padding-left: 33px;
  position: absolute;
  bottom: 0;
}

.nav-footer p {
  font-weight: normal;
  color: #fff;
  font-style: 17px;
}
